@charset "UTF-8";
/*variables*/
body {
  background-color: #f4f4f4; }

/*404*/
.ups {
  font-family: "Kiwi Maru", serif;
  margin: 40px; }

.volver-al-menu {
  font-family: "Raleway", sans-serif;
  margin: 30px; }

.volver-al-menu-bot {
  color: #f4f4f4;
  text-decoration: none; }

.volver-al-menu-boton {
  margin-left: 45%;
  margin-top: 50px; }

/*bloque del menu*/
.menuPrincipal {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }

.menuPrincipal__miMenu {
  font-family: "Kiwi Maru", serif; }

.logoGrande {
  padding: 20px 0px 0px 0px; }

/*bloque en div sobre-nosotros*/
.sobre-nosotros {
  padding-top: 20px;
  margin-top: 50px; }

.sobre-nosotros__vanesa {
  height: 25rem; }

.sobre-nosotros__titulo {
  font-family: "Kiwi Maru", serif;
  margin: 20px; }

.sobre-nosotros__parrafo {
  font-family: "Raleway", sans-serif;
  margin: 10px;
  text-align: justify; }

.sobre-nosotros__saber-mas__bot {
  margin-left: 35%;
  margin-bottom: 30px; }

.sobre-nosotros__saber-mas {
  color: white;
  text-decoration: none; }

.sobre-nosotros__saber-mas:hover {
  color: #dcd0d0; }

/*bloque en div nuestros-productos*/
.nuestros-productos {
  background-image: url(../imagenes/nuestrosproductos-fondocelular.jpg);
  background-repeat: round;
  padding-top: 20px;
  margin-top: 50px;
  border-radius: 15px; }

.nuestros-productos__titulo {
  color: #f4f4f4;
  font-family: "Kiwi Maru", serif;
  text-align: right;
  margin: 10px; }

.nuestros-productos__parrafo {
  color: #f4f4f4;
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0px 10% 30px 10%;
  background: rgba(20, 20, 20, 0.178);
  border-radius: 15px; }

.nuestros-productos__espacio-entre-fotos {
  display: flex;
  flex-direction: column;
  align-items: center; }

.nuestros-productos__bot {
  margin-left: 50%;
  margin-bottom: 30px; }

/*bloque galería*/
.galeria-de-fotos {
  background-color: #dcd0d0;
  margin-top: 50px;
  border-radius: 15px; }

.galeria-de-fotos__titulo {
  font-family: "Kiwi Maru", serif;
  text-align: center;
  padding-top: 20px; }

.nuestros-productos__foto {
  background-color: #373737;
  margin-bottom: 50px; }

.ampliacion:hover {
  transform: scale(1.2, 1.2); }

.galeria__boton {
  margin-left: 40%;
  margin-bottom: 30px; }

/*contacto*/
.contacto {
  margin: 30px 20% 10px 20%;
  padding: 10px;
  border: solid 8px #c0b283;
  background-color: #373737;
  color: #f4f4f4;
  border-radius: 15px; }

.contacto__titulo {
  font-family: "Kiwi Maru", serif; }

.contacto__subtitulo {
  font-family: "Raleway", sans-serif; }

.formulario__enviar {
  padding: 10px 0px 10px 35%; }

/*aside*/
.menu-abajo {
  width: 60%;
  margin: 0px; }

.menu-abajo__lista {
  margin-top: 40px;
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1rem; }

.menu-abajo__opcion {
  text-decoration: none;
  color: #373737; }

.redes {
  width: 40%; }

.redes__lista {
  margin: 0px;
  list-style: none; }

.redes__lista__item {
  display: block;
  padding: 5px; }

footer {
  margin: 20px;
  text-align: center; }

/*seccion sobre nosotros*/
.seccion-sobre-nosotros {
  margin: 30px 10px 30px 10px;
  background-color: #dcd0d0; }

.seccion-sobre-nosotros__tit {
  font-family: "Kiwi Maru", serif;
  margin: 30px 0% 30px 40%;
  background-color: #c0b283;
  color: #f4f4f4; }

.seccion-sobre-nosotros__titulo {
  opacity: 1;
  font-family: "Kiwi Maru", serif;
  display: inline;
  background-color: #f4f4f4;
  writing-mode: vertical-rl;
  text-orientation: upright; }

.seccion-sobre-nosotros__parrafo {
  vertical-align: middle;
  font-family: "Raleway", sans-serif;
  display: inline;
  color: #373737;
  margin: 10% 10px 10px 10px;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5; }

#seccion-sobre-nosotros {
  display: grid;
  grid-template-areas: "titulo parrafo"; }

#titulo-sobre-nosotros {
  grid-area: titulo; }

#parrafo-sobre.-nosotros {
  grid-area: parrafp; }

/*seccion de nuestros productos*/
.seccion-nuestros-productos {
  font-family: "Raleway", sans-serif; }

.seccion-nuestros-productos__titulo--principal {
  font-family: "Kiwi Maru", serif;
  margin: 30px 0% 30px 40%;
  background-color: #c0b283;
  color: #f4f4f4; }

.seccion-nuestros-productos__parrafo {
  margin: 30px; }

.acordeon-de-productos {
  padding: 5px;
  margin: 30px 10% 30px 10%; }

.accordion-button:not(.collapsed) {
  background-color: #dcd0d0;
  color: #373737;
  font-family: "Kiwi Maru", serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  display: inline; }

.accordion-button {
  background-color: #dcd0d0;
  color: #373737;
  font-family: "Kiwi Maru", serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: initial; }

.accordion-button:focus {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  box-shadow: 0 0 0 0.25rem #dcd0d0; }

.imgLogo {
  display: none; }

/*seccion galeria*/
.fotos-galeria {
  display: flex;
  flex-direction: column;
  align-items: center; }

.fotos-galeria__fotos.g {
  transform: scale(1.2, 1.2); }

.galeria-titulo {
  font-family: "Kiwi Maru", serif;
  margin: 30px 0% 30px 40%;
  background-color: #c0b283;
  color: #f4f4f4; }

.variedad {
  font-family: "Raleway", sans-serif;
  margin: 20px 0% 30px 10%;
  font-weight: bold; }

/*seccion contacto*/
.form-control {
  margin-top: 15px; }

.seccion-contacto {
  margin: 30px; }

.seccion-contacto__titulo {
  font-family: "Kiwi Maru", serif;
  margin: 30px 0% 30px 40%;
  background-color: #c0b283;
  color: #f4f4f4; }

.seccion-contacto__subtitulo {
  font-family: "Raleway", sans-serif; }

@media only screen and (min-width: 961px) {
  /*grid en div sobre nosotros*/
  #sobre-nosotros {
    display: grid;
    grid-template-areas: "foto . ." "foto titulo ." "foto parrafo boton";
    margin: 50px; }
  #vanesa {
    grid-area: foto; }
  #titulo {
    grid-area: titulo; }
  #parrafo {
    grid-area: parrafo; }
  #botonSaberMas {
    grid-area: boton; }
  /*modificaciones en div sobre-nosotros*/
  .sobre-nosotros__titulo {
    padding: 150px 0px 0px 0px;
    font-family: "Kiwi Maru", serif; }
  .sobre-nosotros__parrafo {
    font-family: "Raleway", sans-serif;
    margin-top: 10px;
    text-align: left;
    font-size: 1rem;
    margin-right: 160px; }
  .sobre-nosotros__saber-mas__bot {
    margin-left: 75%;
    margin-bottom: 30px; }
  /*modificaciones en div nuestros productos*/
  .nuestros-productos {
    background-image: url(../imagenes/fondo-productos.jpg);
    background-repeat: round;
    padding-top: 20px;
    margin: 50px 70px 0px 70px;
    border-radius: 15px; }
  .nuestros-productos__titulo {
    color: #f4f4f4;
    font-weight: normal; }
  .nuestros-productos__espacio-entre-fotos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px; }
  /*modificaciones en galeria*/
  .galeria__boton {
    margin-left: 48%;
    margin-bottom: 30px; }
  /*modificaciones en contacto*/
  .formulario__enviar {
    padding: 10px 0px 10px 45%; }
  /*modificaciones en seccion sobre nosotros*/
  .seccion-sobre-nosotros {
    margin: 30px 20% 5px 20%;
    background-color: #dcd0d0; }
  .seccion-sobre-nosotros__parrafo {
    vertical-align: middle;
    font-family: "Raleway", sans-serif;
    display: inline;
    color: #373737;
    margin: 10% 10% 5% 10%;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 2; }
  /*modificaciones en nuestros productos*/
  .detalleDeProductos {
    display: grid;
    grid-template-areas: "variedades img1 img2 img3"; }
  .variedades {
    grid-area: variedades; }
  .imagen-uno {
    grid-area: img1; }
  .imagen-dos {
    grid-area: img2; }
  .imagen-tres {
    grid-area: img3; }
  .imgLogo {
    display: inline; }
  /*galeria*/
  .fotos-galeria {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  /*contacto*/
  .form-control {
    padding: 10px;
    margin-top: 15px; }
  /*aside*/
  .menu-abajo {
    width: 70%;
    margin: 0px; }
  .menu-abajo__lista {
    margin: 50px;
    list-style: none;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 1rem; }
  .menu-abajo__opcion {
    text-decoration: none;
    color: #373737; }
  .redes {
    width: 30%; }
  .redes__lista {
    margin: 50px;
    list-style: none; }
  .redes__lista__item {
    display: inline;
    padding: 10px; } }

/*@media only screen and (min-width: 401px) and (max-width: 960px){
    
}*/
